{% extends "layout.html" %}
{% block content %}
    {% if title=='Product' %}
        <div class="container px-5 py-3">  
            <h2 class="mb-4 phead">{{ title }}s</h2>  
            <!-- <div>
                <input class="search" id="myInput" type="text" placeholder="Search..">
            </div> -->
            <div class="row">
                <div class="ml-3">
                    <table class="table table-hover table-responsive table-bordered">
                        <tbody id="myTable">
                            {% if not products%}
                                <tr>
                                    <td colspan="3">No items found!! Please add product in the inventory.</td>
                                </tr>
                            {% else %}
                                {% for product in products %}
                                    <tr class="l">
                                        <!-- <td>{{ loop.index }}.</td> -->
                                        <td class="pl-3 first">{{ product.product_name }}</td>
                                        <td>
                                            <button type="button" class="btn btn-sm bt" data-toggle="modal" data-target="#deleteModal{{ product.product_id }}">
                                                <i class="fas fa-trash-alt pl-2"></i>
                                            </button>
                                            <a class="n" href="{{ url_for('products.update_product', product_id=product.product_id) }}">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="deleteModal{{ product.product_id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <form action="{{ url_for('products.delete_product', product_id=product.product_id) }}" method="POST">
                                                        <input class="btn btn-danger" type="submit" value="Delete">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="add">
                    <button type="button" id="sidebarCollapse" class="add-button btn btn-primary">
                        <a href="{{ url_for('products.new_product') }}"><i class="fas fa-plus"></i></a>
                    </button><a class="add-text" href="{{ url_for('products.new_product') }}"><i>Add Product</i></a>
                </div>
            </div>
        </div>
    {% endif %}  
{% endblock content %}