.add-button{
    border-radius: 50% !important;
  }

.add{
    margin-left: 3rem;
    margin-top: 1.3rem;
  }

 @media (max-width: 991.98px) {
    #content .add {
    margin-right: -60px !important;
    top: 10px !important; } 
}

#content .add {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

@media (prefers-reduced-motion: reduce) {
    #content .add {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }


#content .add .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%; }

#content .add .btn.btn-primary {
    background: #393c7f;
    border-color: #393c7f; }
    
#content .add .btn.btn-primary:hover, #content .add .btn.btn-primary:focus {
    background: #393c7f !important;
    border-color: #393c7f !important; }







